@import "../../styles/variables";

#bg-stripe-container{
    pointer-events: none;
    z-index: -1;
    position: fixed;
    height: 100%;
    top: calc(85% - 20vh);
    left: 0;
    height: 24vh;
    width: max-content;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.bg-stripe-item {
    height: 30vh;
    width: 9.6vh;
    background-color: #f2f2f2;
    transform: rotate(20deg);
    flex-shrink: 0;
    margin-right: 10.8vh;
}