@font-face {
    font-family: 'Modernist';
    src: local('Modernist'), url(../fonts/Sk-Modernist-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Modernist';
    font-weight: 700;
    src: local('Modernist'), url(../fonts/Sk-Modernist-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Unbounded';
    src: local('Unbounded'), url(../fonts/Unbounded-VariableFont_wght.ttf) format('truetype');
}