@import "./_variables.scss";
@import "./_fonts.scss";
@import "../components/CustomCursor/customcursor";
@import "../components/BgPattern/bgpattern";
@import "../components/Sidebar/sidebar";
@import "../components/Footer/footer";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: none;
}

body {
    background-color: $clr--light;
}

// html, body, #root, .App {
//     height: 100%;
// }


// html::-webkit-scrollbar {
//     display: none;
//   }
  
//   /* Hide scrollbar for IE, Edge and Firefox */
//   html {
//     -ms-overflow-style: none;  /* IE and Edge */
//     scrollbar-width: none;  /* Firefox */
//   }

#wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    height: 3000px;
}
