@import "./_variables.scss";
@import "./_fonts.scss";
@import "../components/Sidebar/sidebar";
@import "../components/Footer/footer";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#wrapper {
    // background-color: red;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    height: 3000px;
}

