@import "../../styles/variables";

#middle-row-narrow {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 80vw;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 96px;
    padding-right: 96px;
}

@media (width < 960px) {
    #middle-row-narrow {
        width: 100vw;
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (width < 680px) {
    #middle-row-narrow {
        width: 100vw;
        padding-left: 32px;
        padding-right: 32px;
    }
}



