@import "../../styles/_variables.scss";

#sidebar {
    height: calc(100vh - (2 * 32px));
    position: sticky;
    top: 32px;
    bottom: 32px;
    border-radius: 32px 0px 0px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    overflow: hidden;
    margin-bottom: 32px; 
    box-shadow: rgba(0,0,0,0.3) 0 0 20px;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0px 0 20px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 0 20px;

    &:hover {
        #sidebar--img{
            // padding-left: 50px;
            transform: scale(1.02);
            filter: brightness(0.8);
        }

        .icon--smiley {
            animation: spin 1s;
        }
    }
}

#sidebar--img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../assets/sidebar_bg.jpg");
    background-size: cover;
    background-position: left top;
    transition: all 0.2s ease;
}



#sidebar--icons-bottom {
    display: flex;
    flex-direction: column;
}

.sidebar-icon {
    height: 40px;
    width: 40px;
    fill: white;
    opacity: 0.8;
    pointer-events: all;
}

.sidebar-icon--wrapper{
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

// .sidebar-icon--wrapper:hover {
//     transform: scale(1.1);
// }

// .sidebar-icon--wrapper:not(:last-child) {
//     margin-bottom: 16px;
// }

.icon--smiley{
    width: 28px;
    height: 28px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}