@import "../../styles/variables";

footer {
    width: 100%;
    background-color: $clr--dark;
    color: $clr--white;
    font-size: 1.5rem;
    padding: 64px;

    #footer--content {
        padding-left: 32px;
        padding-right: 32px;    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        font-family: $font--unbounded;
        font-weight: 300;

        ul {
            list-style: none;

            li {
                transition: all 0.2s ease;
                
                
                a {
                    position: relative;

                    span {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: translateY(-50%);
                        display: block;
                        height: 3px;
                        width: 0%;
                        border-radius: 5px;
                        background-color: $clr--white;
                        transition: width 0.3s ease;
                    }
                }

                &:hover {
                    span {
                        width: 40%;
                    };
                }
            }
            
            li:not(:last-of-type) {
                margin-bottom: 8px;
            }

            .navlink {
                color: $clr--white;
                text-decoration: none;
            }
    
            .navlink--selected {
                color: $clr--green;
                font-weight: 500;
    
                span {
                    background-color: $clr--green;
                }
            }
        }
    }
}

#footer--contact {
    p {
        font-family: $font--modernist;
        font-weight: 700;
    }

    a {
        text-decoration: none;
        color: $clr--green;
    }
}

#footer--contact-arrow {
    position: relative;    
    width: 100%;

    span {
        position: relative;
        float: right;
        background-color: $clr--white;
        display: block;
        width: 50%;
        height: 3px;
        border-radius: 5px;
        margin-top: 16px;
        transition: width 0.2s ease;

        &::before, &::after {
            content: " ";
            height: 3px;
            width: 15px;
            background-color: $clr--white;
            position: absolute;
            border-radius: inherit;
            right: 0;
        }

        &::before {   
            transform:  translateX(3px) translateY(-4.5px) rotate(45deg);
        }

        &::after {
            transform:  translateX(3px) translateY(4.5px) rotate(-45deg);
        }
    }

    .hovered {
        width: calc(50%*0.75);
    }
}

@media (width < 960px) {
    #footer--content {
        padding: 0px !important;
    }
}

@media (width < 680px) {
    footer {
        padding: 32px;
    }

    #footer--content {
        flex-direction: column;

        ul {
            display: flex;
            justify-content: center;
            margin-bottom: 64px;
            margin-top: 32px;
            flex-wrap: wrap;
            column-gap: 32px;
            row-gap: 16px;


            li {
                flex-wrap:wrap;
            }
        }
    }

    #footer--contact {
        margin-bottom: 32px;
    }

    #footer--contact-arrow {
        margin-left: auto;
    }
}
